@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;
  --black: #000;
  --gray: #1E1E1E;
  --lightGray: #8c8b92;
  --lightGray2: #757575;
  --lightGray3: #b3b3b3;
  --blue: #4E47FF;
}

/*==BASIC-SETUP==*/
body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  background: #F5F8FF;
}

.container {
  max-width: 1140px;
  margin: 0 auto;

}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.row>div {
  padding-right: 15px;
  padding-left: 15px;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  margin-bottom: 0;
}

.img-fluid {
  max-width: 100%;
}

/* header area  */

.logo a {
  font-family: Inter;
  font-size: 34px;
  font-weight: 900;
}

.btn {
  color: #FFF;
  font-size: 1rem;
  font-weight: 700;
  padding: 12px 36px;
  border-radius: 10px;
  background: var(--blue);
  display: inline-block;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

/* hero area  */
.hero-area {
  text-align: center;
  padding: 12.5rem;
  background: url('assets/img/Hero-bg.png') no-repeat center;
  background-size: cover;

}

.hero-title {
  color: #252432;
  text-align: center;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 2.25rem;
}

/* action area  */
.action {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  align-items: center;
  padding: 7.25rem 0;
}

.action-left h3 {
  color: #252432;
  font-size: 42px;
  font-weight: 700;
}

.action-left p {
  color: #8c8b92;
  font-size: 1.5rem;
  padding: 1.375rem 0;
}

.action-right img {
  margin-left: auto;
  display: block;
  border-radius: 3.125rem;
  -webkit-border-radius: 3.125rem;
  -moz-border-radius: 3.125rem;
  -ms-border-radius: 3.125rem;
  -o-border-radius: 3.125rem;
}

/* user area start  */
.user {
  text-align: center;
  padding: 3.125rem 0;
  border-radius: 24px;
  background: rgba(78, 71, 255, 0.10);
}

.user-head h2 {
  color: #252432;
  font-size: 2.3rem;
  font-weight: 700;
}

.user-inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
  padding-top: 2.5rem;
}

.user-item h3 {
  color: var(--blue);
  font-family: Inter;
  font-size: 5rem;
  font-weight: 700;
}

.user-item span {
  font-family: Inter;
  font-size: 20px;
  color: #8c8b92;
}

/* testimonial area start  */
.testimonial-area {
  margin-top: 8.4375rem;
}

.testimonial-title {
  color: #252432;
  text-align: center;
  font-size: 2.625rem;
  font-weight: 700;
}

.testimonial-inner {
  margin-top: 3.125rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
  gap: 1.25rem;
}

.testimonial-item {
  padding: 1.5rem;
  background: var(--white);
  border-radius: 14px;
}

.testimonial-item h4 {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1.2rem 0 .5rem;

}

.testi-profile {
  padding-top: 1.2rem;
  display: flex;
  gap: 12px;
  align-items: center;
}

.tesi-author p {
  font-weight: 600;
  color: var(--lightGray2) !important;
  padding-bottom: 6px
}

.tesi-author span {
  color: var(--lightGray3);
}

/* ready area start  */
.ready-area {
  margin: 8.5rem 0 5.625rem;
}

.ready {
  padding: 4.5rem 0;
  background: #fff;
  border-radius: 14px;
}

.ready-content {
  text-align: center;
}

.ready-content h3 {
  color: var(--black);
  font-size: 3.125rem;
  ;
  font-weight: 700;
}

.ready-content p {
  color: var(--lightGray);
  padding: 1rem 0;
}

.ready-content a {
  font-weight: 500;
  margin-bottom: 1rem;
}

.ready-img img {
  margin: 0 auto;
  display: block;
  border-radius: 48px;
}

/* form area  */
.form-left h2 {
  color: var(--black);
  font-size: 97px;
  font-weight: 700;
}

.form {
  display: grid;
  padding: 4.5rem 0;
  align-items: center;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
}

.form-right label {
  color: #000;
  font-size: 1.125rem;
  font-weight: 500;
}

.form-right input,
textarea {
  width: 100%;
  font-family: Inter;
  font-size: 1.25rem;
  padding: 1.25rem 2rem;
  border-radius: 10px;
  border: 1px solid #D6DDED;
  background: #FFF;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 1rem;
  resize: none;
  outline: 1px solid var(--blue);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.form-right button {
  width: 100%;
  padding: 1.25rem;
  border: none;
}




/* footer area start  */
.footer-area {
  text-align: center;
  padding: 6.25rem 0;
  background: #fff;
}

.footer-content h2 {
  color: var(--blue);
  font-family: Inter;
  font-size: 6.25rem;
  font-weight: 900;
}

.footer-content p {
  color: var(--lightGray);
  font-family: Inter;
  padding: 1rem 0 1.375rem;
}

.footer-nav ul {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.footer-nav ul li a {
  color: #8987A1;
}